/* '.' -> select classes */
/* element.class -> targets elements with given class name */
.list {
    color: red;
    list-style-type: none;
}

ul li {
    color: green;
}

li .highlight {
    color: orange;
}

.highlight {
    color: deeppink;
}