/* '.' -> select classes */
/* element.class -> targets elements with given class name */
.list {
    color: red;
    list-style-type: none;
}

ul li {
    color: green;
}

li .highlight {   /* all the elements that have the class 'highlight' in 'li'*/
    color: orange;
}

.highlight {
    color: deeppink;
}

Inregistrare curs 8:59