/* '.' -> select classes */
/* element.class -> targets elements with given class name */
.list {
    color: red;
    list-style-type: none;
}

ul li {
    color: green;
}

li .highlight {   /* all the elements that have the class 'highlight' in 'li'*/
    /* Inheritance */
    color: orange;
}

.highlight {
    color: deeppink;
}

#someId {
    color: blue;
}

* {
    font-size: 24px;
}

[hello="something"] {
    color: yellow;
}

#someId {
    color: deeppink;
}

/* 
    tag (element) - least specific
    class attribute - more specific
    id - most specific
*/
/* #red {
    color: red;
} */

.yellow {
    color: yellow;
}

[class] {
    color: deeppink;
}

article {
    color: blue;
}

/* #red {
    color: blue;
} */

inregistra 21:31